@font-face {
    font-family: "Gutcruncher";
    src: url(../src/Common/Fonts/Nuffle-OVwjO.ttf) format("truetype");
}
@font-face {
    font-family: "NuffleDice";
    src: url(../src/Common/Fonts/NuffleDice-axWja.ttf) format("truetype");
}